.Navigation {
  background-color: #ffffff;
  list-style: none;
  width: 100%;
}

.Navigation div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Navigation a {
  display: block;
  width: 17%;
  padding: 5px 0;
  text-align: center;
  margin: 10px;
  color: rgb(24, 135, 153);
  border-radius: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease;
}
