.H2HComparaison {
  position: absolute;
  top: 520px;
  margin: 0 5%;
  width: 90%;
}

.H2HComparaison > div {
  margin: 50px 0;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  background-color: rgb(24, 135, 153, 0.3);

  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.H2HComparaison > div div,
.H2HComparaison > div h1 {
  width: 30%;
}

.H2HComparaison h1 {
  font-size: 1.1em;
  font-style: oblique;
  font-weight: bold;
  /* color: white; */
}

/* Serie en Cours & Last H2H */
.H2HComparaison .overallForm span,
.H2HComparaison .lastH2H span {
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  color: white;
  border-radius: 50%;
}
.H2HComparaison .overallForm .lost,
.H2HComparaison .lastH2H .lost {
  background-color: red;
}

.H2HComparaison .overallForm .won,
.H2HComparaison .lastH2H .won {
  background-color: green;
}

.H2HComparaison .overallForm .draw,
.H2HComparaison .lastH2H .draw {
  background-color: grey;
}

/* Last 6 Games */
.H2HComparaison .last_6_games > div {
  width: 50%;
}

.H2HComparaison li {
  /* background-color: cadetblue; */
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.H2HComparaison li span {
  display: inline-block;
  width: 30%;
}
