.GameStats {
  position: absolute;
  top: 520px;
  margin-top: 30px;
  min-height: 100%;
  width: 100%;
}

.GameStats h1 {
  font-size: 1.4em;
  font-weight: bold;
  color: rgb(24, 135, 153);
  text-align: center;
}

.GameStats .stat {
  display: flex;
  background-color: rgb(24, 135, 153, 0.2);
  width: 70%;
  margin: 20px auto;
  padding: 5px 10px;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
}

.GameStats .stat span:nth-child(1),
.GameStats .stat span:nth-child(3) {
  font-size: 1.5em;
}

.GameStats .stat span:nth-child(2) {
  font-size: 1.2em;
}
