.Home {
  padding-top: 50px;
}

.Home .articles h1 {
  color: #4b6983;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.Home .articles a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: initial;
  transition: all 0.2s ease-in;
  width: 90%;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 1px 1px 8px grey;
  padding-right: 20px;
}

.Home .articles a img {
  width: 280px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.Home .articles a div {
  margin-left: 20px;
}

.Home .articles a div .source {
  color: #4b6983;
  margin-bottom: 20px;
}

.Home .articles a div .title {
  font-weight: bold;
}

.Home .articles a div .author {
  font-style: oblique;
  margin-top: 10px;
  font-size: 0.9em;
}

.Home .articles a div .date {
  font-size: 0.9em;
}

.Home .articles a:hover {
  background-color: aliceblue;
  transform: scaleX(1.05);
}
