.Home {
  padding: 50px;
}

.Home h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.Home img {
  height: 60px;
  width: 80px;
  object-fit: contain;
  margin-top: 130px;
  margin-bottom: 20px;
}

/* .Home h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0f719e;
} */

.no-game-message {
  font-style: oblique;
}
