.ArrowToTop {
  color: #0a3153;
  border: 1px solid #0a3153;
  padding: 3px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.ArrowToTop:hover {
  background-color: #4b6983;
  border: 1px solid #b4ffd7;
  color: #b4ffd7;
}
