.Footer {
  background-color: #4b6983;
  padding: 50px 0;
}

.Footer div {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.Footer a {
  text-decoration: none;
  color: #b4ffd7;
  margin: 0;
  padding: 5px 10px;
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;
}

.Footer a:hover {
  cursor: pointer;
  color: #4b6983;

  background-color: #b4ffd7;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .Footer div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Footer a {
    margin-bottom: 15px;
  }
}

@media (max-width: 425px) {
  .Footer div {
    width: 90%;
  }

  .Footer a {
    font-size: 12px;
  }
}
