.game {
  background-color: rgb(236, 236, 236);
  width: 80%;
  margin: 15px auto;
  padding: 8px;
  border-radius: 20px;
}

.game .date_time {
  color: rgb(24, 135, 153);
  font-size: 0.9em;
}

.game .teams {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.game .teams span {
  display: block;
  width: 30%;
}

.game .stadium {
  margin: 5px 0;
  text-align: center;
  font-size: 0.8em;
  color: rgb(101, 101, 101);
}
