.GameInfos {
  background-color: rgba(150, 227, 239, 0.3);
  padding: 30px 0;
  margin-bottom: 30px;
}

.GameInfos .time-place {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto 50px auto;
  font-size: 0.9em;
}

.GameInfos .game-status {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.GameInfos .teams {
  width: 90%;
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
}

.GameInfos .teams > div {
  width: 30%;
  text-align: center;
}

.GameInfos .teams > div:nth-child(1) p,
.GameInfos .teams > div:nth-child(3) p {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 20px;
}

.GameInfos .teams > div:nth-child(1) .scorerList,
.GameInfos .teams > div:nth-child(3) .scorerList {
  background-color: rgba(105, 191, 222, 0.4);
  padding: 3px;
  border-radius: 10px;
}

.GameInfos .teams > div:nth-child(1) .scorer,
.GameInfos .teams > div:nth-child(3) .scorer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.GameInfos .teams > div:nth-child(1) .scorer span,
.GameInfos .teams > div:nth-child(3) .scorer span {
  font-size: 0.8em;
}

.GameInfos .teams .score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GameInfos .teams .score span {
  margin-bottom: 10px;
}

.GameInfos .teams .score span:nth-child(1) {
  font-size: 3em;
}

.GameInfos .teams .score span:nth-child(2) {
  font-size: 0.8em;
}
