.GamePage {
  position: relative;
}

.GamePage > a {
  margin: 20px;
  top: 380px;
  position: absolute;
  z-index: 2;
}

.GamePage .navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 380px;
  width: 70%;
  margin: 20px 15%;
}
