/* Other rules */
.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.welcome-message p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  margin-bottom: 30px;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  font-family: "Avenir", sans-serif;
}

.App main {
  width: 70%;
  min-height: 100vh;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 50px;
}
