/* Other rules */
.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.welcome-message p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  margin-bottom: 30px;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  font-family: "Avenir", sans-serif;
}

.App main {
  width: 70%;
  min-height: 100vh;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* MEDIA QUERIES */

@media (max-width: 1365px) {
  .App main {
    width: 90%;
  }
}

@media (max-width: 1060px) {
  .App main {
    width: 95%;
  }
}

@media (max-width: 430px) {
  .welcome-message p {
    font-size: 1.3rem;
  }
}

@media (max-width: 270px) {
  .welcome-message p {
    font-size: 1rem;
  }
}
